.elemento{
    width: 300px;
    display: block;
    margin: auto;
    padding: 10px;
    background-color: burlywood;
    border: 4px outset green;
    margin-top: 40px;
    font-size: 28px;
    text-align: center;
}

div{
    display: block;
    unicode-bidi: isolate;
    
}

/* .img{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(243, 5, 5);
    margin-left: 15%;
    margin-top: 15%;
    vertical-align: middle;
    align-content: center;
} */