.elemento{
    background-color:rgba(138, 127, 168, 0.719);
    border: 2px solid black;
    display: block;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
}

.img{
    width: 200px;
    height: 200px;
    border: 2px solid rgb(243, 5, 5);
    margin-left: 15%;
    margin-top: 15%;
    vertical-align: middle;
    align-content: center;
}