* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 600px;
    margin: 0;
    padding: 0;
    background-color: #bce2bd;
}

.contenedor {
    border: 3px solid #60a875dc;
    border-radius: 8px;
    margin: 20px;
    height: 400px;
    padding: 5px;
    background-color: #e2dede;
}

.posicion {
    padding: 5px;
    border: 2px inset #487750;
    margin: 25px;
    width: 60%;
    background-color: #82ce84;
}

.absolute {
    position: absolute;
    right: 20px;
    width: 50%;
    background-color: #FF5722;
}

strong{
    color: white;
    font-size: x-large;
}